<div data-bind="with: mediator.selected">
    <h3>Product Details:</h3>
    <table class="table table-bordered">
        <tr>
            <td class="kolabel">Name:</td>
            <td data-bind="text: Name"></td>
        </tr>
        <tr>
            <td class="kolabel">Price:</td>
            <td data-bind="text: Price"></td>
        </tr>
        <tr>
            <td class="kolabel">Identifier:</td>
            <td data-bind="text: GUID"></td>
        </tr>
    </table>
</div> 