<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                    <form class="navbar-form pull-left">

                    <ul class="nav nav-pills">
                        <li><a class="navbar-link" href="#products/list">List All</a></li>
                        <li><a class="navbar-link" href="#products/edit/new">Create New</a></li>
                    </ul>
                    </form>
                    <form class="navbar-form pull-right">
                        <input type="text" class="search-query navbar-search" style="margin-right: 20px" placeholder="Search">

                        <div class="btn-group">
                            <button class="btn" data-bind="click: save, enable: mediator.toolbar.indexOf('save') >= 0"><i class="icon-file"></i><span> Save</span></button>
                            <button class="btn" data-bind="click: remove, enable: mediator.toolbar.indexOf('delete') >= 0"><i class="icon-trash"></i><span> Delete</span></button>
                            <button class="btn" data-bind="click: edit, enable: mediator.toolbar.indexOf('edit') >= 0"><i class="icon-edit"></i><span> Edit</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
        </div>
    </div>
</div>