<div class="container-fluid">
    <div class="row-fluid">
        <div>
            <ul class="nav nav-tabs" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
        </div>
    </div>
</div>